
_site/static/projects/placeholder.jpg
_site/static/js/thickbox-compressed.js
_site/static/js/super-search.js
_site/static/js/projects.js
_site/static/js/material.min.js
_site/static/js/main.js
_site/static/js/jquery.min.js
_site/static/js/bootstrap.min.js
_site/static/img/screenshot-post-page.png
_site/static/img/placeholder.jpg
_site/static/img/mypic.jpg
_site/static/img/macFFBgHack.png
_site/static/img/loadingAnimation.gif
_site/static/img/favicon.ico
_site/static/img/avatar.png
_site/static/css/thickbox.css
_site/static/css/syntax.css
_site/static/css/projects.css.map
_site/static/css/projects.css
_site/static/css/main.css
_site/static/css/bootstrap.min.css
_site/static/css/bootstrap-material-design.min.css
_site/sitemap.xml
_site/scrum_master/2020/01/04/Improvement_Kata_And_Assessment_Check_List.html
_site/README.md
_site/projects/index.html
_site/product_management/2020/01/11/Event_storming.html
_site/product_management/2020/01/06/Product_canvas.html
_site/pandora-blogx.iml
_site/LICENSE
_site/index.html
_site/feed.xml
_site/engineering_playbook/2020/01/10/TestDrivenDevelopment.html
_site/engineering_playbook/2020/01/09/Refactoring.html
_site/engineering_playbook/2020/01/08/PairProgramming.html
_site/engineering_playbook/2020/01/07/MobProgramming.html
_site/engineering_playbook/2020/01/06/BehaviorDriveDevelopment.html
_site/category/others.html
_site/category/jekyll.html
_site/building_a_team/2020/01/05/hangouts.html
_site/building_a_team/2020/01/05/feedbackwraps.html
_site/building_a_team/2020/01/03/Creating_honest_discussions.html
_site/building_a_team/2020/01/03/confidence_appreciation.html
_site/assets/test-page-image-1.jpg
_site/assets/mypic.jpg
_site/about/index.html
_site/404.html
.jekyll-cache/Jekyll/Cache/Jekyll--Cache/b7/9606fb3afea5bd1609ed40b622142f1c98125abcfe89a76a661b0e8e343910
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/00/0c74843b4a0530de2fb9e67698711892051dfc573f40aaf6c49939078e2cb9
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/0a/4d186ebdacf89816788e7397d579f137050d0a7bf6ac0deb6c112264b11100
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/1c/d5c29141485fd32c92960ff0d292452350922ab43b7f5b4807a1950778eaa2
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/23/7d804690280cf430c81d590d8c31e67285d09fa9ca516b8f1233de736ffa48
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/24/e3f0d441a9895b8bfa1d2ebca55ec9ee88586daa6baabda662b1b2985782eb
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/28/8972319b365baace82e6a54fbb0d53d1b24b1b99350554ba509c2bf366c430
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/39/74bba1e2f04ae3b3768f275856e40bd42d86ae6d4799ba8860b5e46436b565
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/41/b8b2135b4e7b0feff7e611285634681f5a363348c624297dd914845f32e0e4
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/48/9fc33a1490c430079523a2d2ef54663fd70b53db1159c45552aa1f0a2ecb9e
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/5f/c6a9ebf279bb579c3bdb303f08d41cd1a34488c530e207a894d335706ed99e
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/61/54eab067cd8255e3a7c77d1084d77b931f38f48849627ee6eb58bcdf38eadf
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/63/9a5d6ad4d67dc98f2365be08bdc75bc39b78473351c257ccac60bf2c75b5c0
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/63/ff1b8c0b0da753e3c67c99723f7f1eb264b15f3aaa19a5495ac46f74ca9c9c
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/66/9734fc38522b2d6e301cf4ad5790237b4a447922cd4ed0a1085fba9a568f6c
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/6c/db7960246660b32fb8ecddb9cef8a2ce7da744e688db1f3abee9e9610a8bbe
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/75/37f9097ac2e8918b092142b71921df215f548b82afea1e4d1800194a0674c2
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/7e/f50020811e9f0cec71254ce0e930b82da31ca781562206ff24f829986dba98
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/80/668011ad724b1cf0d5e564bff33fe46b7b6762a812e5e170d2b816aa7fa46f
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/85/cfca207244c329b5227422585472c3645ecdb9dbdfc3bfc6d73eb7ee4c95e5
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/87/bed0dfb145e41e9b964b853c5d9d5e0c12fd65e87edc9fbd72d9959cd7c5b0
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/8f/72bc2001b9a0ba31529cce66023abbe795158428e39acd71e812a9ea21664e
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/92/3a8c96a949ac49c5493e4e057d060999bc51be003bef5b2aa1cbdca5e91850
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/9b/9f22a94f79b51196dc79feb04a3ac105a2918884c507dd886bc53972ea75dc
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/9e/0531904be2590520e3bb7601eca76f5b73cc0ac3028d39ad3ae980436c5dd9
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/9e/cb90a00e6756b4324a4cd879ae346740fc393039c84dca3252194ec0b304cd
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/9f/936c41a9a19ee1043f013b47a7dad4731eeeb938751b1acd4bbc25f2fb158d
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/a1/c9056c321222421c9b2cec1df22289e89d67551bb6049563c00e9e58bc455c
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/b0/71fc739f13f9d1e899c6f5b8247648b659b1dcd3fa3016bbded8c8d926a3fa
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/b1/51198e43c7127c948a3e787be1d59611577d9c9e33566cf38ed9e53f8ac9fc
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/b4/56ef866e3b86c53f899911ff017b1ea3d035108885bcdecb8336971211a6cb
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/b5/7af825cbe0b1bf0e6a0baf9d1b431ebabf6c2e6cd75b9b51535bd7abeb0745
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/c3/29ffbd564281406b9e3e0a880b92bb12d0f5bf75a4307d7458e53fd2463f0f
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/c5/8d27cf3591e5607b0295576de65c0d62ed54ddeceb8cfc81dd832d18005a91
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/cb/4b15921e7ebb6cd78928e3e0c473328bd4201e6d77be6e999557cbc6a56ee0
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/d7/cf21a21e9467a65605af7e244322f4e8b42cdd94caa433e7616d4ead94e1bd
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/dd/49d00e1ae5586fdfd9f708c2304a4b152d5ac0fdfc6fe7a36925d037237b7e
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/e9/64eff62cba4125c59014c84fb5f4e760b6cbdaa422aa75df5e8f631e9593ce
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/e9/71d1b99f91f662ead7e4c56e104ff4a2b2f9f5ed8a9e15f02f18c59f029ef4
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/f2/6c2ae408a5c42b87bd6d6a1fc97bce813bfe55ef8ea728808862614eeb5a8d
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/f4/bf5a559b9884a5c312eda38596e77e5cbf2378f527fb39d807bb3c187d1298
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/fe/47150b8a06d5a8424db3922c24d997ae6aceab850bbc60b8d17979f09af08d
_site/page2/index.html
_site/building_a_team/2020/02/03/workingagreements.html
_site/building_a_team/2020/02/03/Visiblework.html
_site/building_a_team/2020/02/02/Working_remote.html
_site/building_a_team/2020/02/02/TrustedTen_exploring_bias.html
_site/building_a_team/2020/02/01/TeamHealthCheck.html
_site/building_a_team/2020/01/27/TeamCulture.html
_site/building_a_team/2020/01/23/Team_Happiness_nikoniko.html
_site/building_a_team/2020/01/21/poker_delegation_and_empowerment.html
_site/building_a_team/2020/01/09/listening_with_empathy.html
_site/building_a_team/2020/01/08/stop_blaming_start_sharing.html
_site/building_a_team/2020/01/08/pre-mortem.html
_site/building_a_team/2020/01/08/novelty_curosity.html
_site/building_a_team/2020/01/08/Growthmindset.html
_site/building_a_team/2020/01/08/Building_a_competency_map.html
_site/building_a_team/2020/01/07/failure.html
_site/building_a_team/2020/01/06/Mindfulness.html
