
_site/static/projects/placeholder.jpg
_site/static/js/thickbox-compressed.js
_site/static/js/super-search.js
_site/static/js/projects.js
_site/static/js/material.min.js
_site/static/js/main.js
_site/static/js/jquery.min.js
_site/static/js/bootstrap.min.js
_site/static/img/screenshot-post-page.png
_site/static/img/placeholder.jpg
_site/static/img/mypic.jpg
_site/static/img/macFFBgHack.png
_site/static/img/loadingAnimation.gif
_site/static/img/favicon.ico
_site/static/img/avatar.png
_site/static/css/thickbox.css
_site/static/css/syntax.css
_site/static/css/projects.css.map
_site/static/css/projects.css
_site/static/css/main.css
_site/static/css/bootstrap.min.css
_site/static/css/bootstrap-material-design.min.css
_site/sitemap.xml
_site/scrum_master/2020/01/04/Improvement_Kata_And_Assessment_Check_List.html
_site/README.md
_site/projects/index.html
_site/product_management/2020/01/11/Event_storming.html
_site/product_management/2020/01/06/Product_canvas.html
_site/pandora-blogx.iml
_site/LICENSE
_site/index.html
_site/feed.xml
_site/engineering_playbook/2020/01/10/TestDrivenDevelopment.html
_site/engineering_playbook/2020/01/09/Refactoring.html
_site/engineering_playbook/2020/01/08/PairProgramming.html
_site/engineering_playbook/2020/01/07/MobProgramming.html
_site/engineering_playbook/2020/01/06/BehaviorDriveDevelopment.html
_site/category/others.html
_site/category/jekyll.html
_site/building_a_team/2020/01/05/hangouts.html
_site/building_a_team/2020/01/05/feedbackwraps.html
_site/building_a_team/2020/01/03/Creating_honest_discussions.html
_site/building_a_team/2020/01/03/confidence_appreciation.html
_site/assets/test-page-image-1.jpg
_site/assets/mypic.jpg
_site/about/index.html
_site/404.html
