{% assign skills = site.data.resume.skills %}
{% if skills %}
<section class="skills-section section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>

  <div class="skillset">

    {% for skill in skills.toolset %}
    <div class="item">

         <tr>
             <td><div class="company"><strong>{{ skill.type }}: </strong></div></td>
             <td><div class="company">{{ skill.name }}</div></td>
             <br>
         </tr>


    </div><!--//item-->
    {% endfor %}

  </div>

</section><!--//skills-section-->
{% endif %}
